body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgrey;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    
    background-color: coral;
    margin: 30px;
    padding: 20px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
